PORT=5001
MONGO_URI=mongodb://localhost:27017/quiz-training
JWT_SECRET=supersecretquizkey
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=supersecretquizkey_refresh
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=300
ADMIN_USERNAME=Janscient125
ADMIN_PASSWORD=Janscient2005
ADMIN_RESET_ON_BOOT=true
